In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import string
import nltk
%matplotlib inline

In [ ]:
cols=["target","ids","date","flag","user","text"]

In [ ]:
df=pd.read_csv("training.1600000.processed.noemoticon.csv",encoding='ISO-8859-1')
df.columns=cols

In [ ]:
df.head()

In [ ]:
df=df.drop(columns=["ids","date","flag","user"])
df.head()

In [ ]:
df.info()

## Preprocessing dataset

In [ ]:
def remove_pattern(input_txt,pattern):
    r=re.findall(pattern,input_txt)
    for word in r:
        input_txt=re.sub(word,"",input_txt)
    return input_txt

In [ ]:
#remove twitter handles
df['clean_txt']=np.vectorize(remove_pattern)(df['text'],"@[\w]*")

In [27]:
df.head()

,target,text,clean_txt
0,0,is upset that he can't update his Facebook by ...,is upset that he can't update his Facebook by ...
1,0,@Kenichan I dived many times for the ball. Man...,I dived many times for the ball. Managed to s...
2,0,my whole body feels itchy and like its on fire,my whole body feels itchy and like its on fire
3,0,"@nationwideclass no, it's not behaving at all....","no, it's not behaving at all. i'm mad. why am..."
4,0,@Kwesidei not the whole crew,not the whole crew

In [28]:
#remove special characters,numbers and punctuations
df['clean_txt']=df['clean_txt'].str.replace("[^a-zA-Z#]","")
df.head()

,target,text,clean_txt
0,0,is upset that he can't update his Facebook by ...,is upset that he can't update his Facebook by ...
1,0,@Kenichan I dived many times for the ball. Man...,I dived many times for the ball. Managed to s...
2,0,my whole body feels itchy and like its on fire,my whole body feels itchy and like its on fire
3,0,"@nationwideclass no, it's not behaving at all....","no, it's not behaving at all. i'm mad. why am..."
4,0,@Kwesidei not the whole crew,not the whole crew

In [ ]:
# remove short words
df['clean_txt']=df['clean_txt'].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))